# 排除所有.开头的隐藏文件:
.*
# 排除所有.class文件:
*.class
# 排除网址列表文件
links.txt
# 不排除.gitignore和App.class:
!.gitignore
!App.class
# 忽略youtube-dl下的文件夹
yotube_dl/venv/*
# 忽略pycharm生成的venv
venv
# 忽略测试文件
testFile
# 忽略日志文件
*.log
# 忽略大文件
*.mp4
*.m3u8
# 忽略测试用命令
log.sh
